<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="FirstTest">
  	<parameter name="browser" value="chrome"/>
    <classes>
      <class name="com.redbus.tests.SortByTest"/>
      <class name="com.redbus.tests.RescheduleTicketTest"/>
      <class name="com.redbus.tests.ReadGuidelinesTest"/>
      <class name="com.redbus.tests.EmailSmsTest"/>
      <class name="com.redbus.tests.LoginTest"/>
      <class name="com.redbus.tests.PreRegisterTest"/>
      <class name="com.redbus.tests.OffersTest"/>
      <class name="com.redbus.tests.ModifySearchTest"/>
      <class name="com.redbus.tests.CancelHiredBusTest"/>
      <class name="com.redbus.tests.PilgrimagesTest"/>
      <class name="com.redbus.tests.ShowMyTicketTest"/>
      <class name="com.redbus.tests.TrackMyBusTest"/>
      <class name="com.redbus.tests.CancelTicketTest"/>
      <class name="com.redbus.tests.RPoolTest"/>
      <class name="com.redbus.tests.ConvinienceTest"/>
      <class name="com.redbus.tests.BusSearchTest"/>
      <class name="com.redbus.tests.BusHirePageTest"/>
      <class name="com.redbus.tests.AwardTest"/>
    </classes>
  </test>
  <test thread-count="5" name="SecondTest">
  <parameter name="browser" value="firefox"/>
    <classes>
      <class name="com.redbus.tests.SortByTest"/>
      <class name="com.redbus.tests.RescheduleTicketTest"/>
      <class name="com.redbus.tests.ReadGuidelinesTest"/>
      <class name="com.redbus.tests.EmailSmsTest"/>
      <class name="com.redbus.tests.LoginTest"/>
      <class name="com.redbus.tests.PreRegisterTest"/>
      <class name="com.redbus.tests.OffersTest"/>
      <class name="com.redbus.tests.ModifySearchTest"/>
      <class name="com.redbus.tests.CancelHiredBusTest"/>
      <class name="com.redbus.tests.PilgrimagesTest"/>
      <class name="com.redbus.tests.ShowMyTicketTest"/>
      <class name="com.redbus.tests.TrackMyBusTest"/>
      <class name="com.redbus.tests.CancelTicketTest"/>
      <class name="com.redbus.tests.RPoolTest"/>
      <class name="com.redbus.tests.ConvinienceTest"/>
      <class name="com.redbus.tests.BusSearchTest"/>
      <class name="com.redbus.tests.BusHirePageTest"/>
      <class name="com.redbus.tests.AwardTest"/>
    </classes>
  </test> 
</suite>
